<div id="output"></div>
<h1 data-behavior="title">TASK LIST</h1>
<hr />
<p>
  <label for="new-task">Add Item</label>

  <div class="input-group">
    <input maxlength="65" id="new-task" type="text" class="form-control" placeholder="Enter your item here...">
    <span class="input-group-btn">
      <button class="btn btn-secondary addButton" type="button" >Add</button>
    </span>
  </div>
</p>
<h3 class="todo">Todo</h3>
<ul class="list-group" id="incomplete-tasks">
</ul>

<h3 class="completed">Completed</h3>
<ul class="list-group" id="completed-tasks">
</ul>
